.about {
  &__title {
    margin: 0 0 48px;
    font-weight: $fontBold;
    font-size: $fontSizeAboutTitle;
    line-height: $lineHeightAboutTitle;
    align-items: center;
    letter-spacing: -1.5px;
    color: #000;

    @include onDesktop {
      margin-bottom: 0;
      font-size: $fontSizeAboutTitleDesktop;
      line-height: $lineHeightAboutTitleDesktop;
    }
  }

  &__title-link {
    color: $colorBlue;
    text-decoration: none;
  }

  &__subtitle {
    display: block;
    margin-bottom: 16px;
    font-weight: $fontBold;
    font-size: $fontSizeAboutSubTitle;
    line-height: $lineHeightAboutSubTitle;
    color: $colorBlue;
    text-decoration: none;
  }

  &__paragpaph {
    margin: 0 0 27px;

    &:last-child {
      margin-bottom: 0;
    }

    &--important {
      font-weight: bold;
    }
  }
}
